.treeNode {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.treeNode__content {
  display: flex;
  align-items: center;
}

.treeNode__children {
  margin-top: 5px;
  margin-left: 20px;
}

.controlButton {
  margin-right: 3px;
}

.controlsPanel {
  visibility: hidden;
  transition: visibility 0.2s ease-in-out;
}

.treeNode__content:hover {
  .controlsPanel {
    visibility: visible;
  }
}
